/* line 1, src/scss/_generated/_spriteSVG.scss */
.icon-ai {
  width: 40px;
  height: 40px;
}

/* line 5, src/scss/_generated/_spriteSVG.scss */
.icon-analytics {
  width: 40px;
  height: 40px;
}

/* line 9, src/scss/_generated/_spriteSVG.scss */
.icon-angle {
  width: 30.727px;
  height: 30.727px;
}

/* line 13, src/scss/_generated/_spriteSVG.scss */
.icon-batman {
  width: 36px;
  height: 39px;
}

/* line 17, src/scss/_generated/_spriteSVG.scss */
.icon-check {
  width: 45.701px;
  height: 45.7px;
}

/* line 21, src/scss/_generated/_spriteSVG.scss */
.icon-cloud {
  width: 44px;
  height: 42px;
}

/* line 25, src/scss/_generated/_spriteSVG.scss */
.icon-features {
  width: 40px;
  height: 37px;
}

/* line 29, src/scss/_generated/_spriteSVG.scss */
.icon-features-box-0 {
  width: 40px;
  height: 40px;
}

/* line 33, src/scss/_generated/_spriteSVG.scss */
.icon-features-box-1 {
  width: 40px;
  height: 40px;
}

/* line 37, src/scss/_generated/_spriteSVG.scss */
.icon-features-box-2 {
  width: 40px;
  height: 42px;
}

/* line 41, src/scss/_generated/_spriteSVG.scss */
.icon-features-box-3 {
  width: 44px;
  height: 46px;
}

/* line 45, src/scss/_generated/_spriteSVG.scss */
.icon-features-box-4 {
  width: 40px;
  height: 40px;
}

/* line 49, src/scss/_generated/_spriteSVG.scss */
.icon-flag {
  width: 24px;
  height: 28px;
}

/* line 53, src/scss/_generated/_spriteSVG.scss */
.icon-leads {
  width: 44px;
  height: 43px;
}

/* line 57, src/scss/_generated/_spriteSVG.scss */
.icon-logo {
  width: 145px;
  height: 36px;
}

/* line 61, src/scss/_generated/_spriteSVG.scss */
.icon-money {
  width: 26px;
  height: 36px;
}

/* line 65, src/scss/_generated/_spriteSVG.scss */
.icon-pipelines {
  width: 40px;
  height: 42px;
}

/* line 69, src/scss/_generated/_spriteSVG.scss */
.icon-request {
  width: 48px;
  height: 36px;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1070px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1070px;
  }
}

@media screen and (min-width: 992px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1070px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1070px;
  }
}

@media screen and (min-width: 768px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1070px;
  }
}

@media screen and (min-width: 1366px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1070px;
  }
}

/* line 1, src/scss/_shared/_main-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 7, src/scss/_shared/_main-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  overflow: hidden;
}

/* line 13, src/scss/_shared/_main-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 16px;
  font-weight: normal;
  font-family: 'OpenSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-reset.scss */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-reset.scss */
body > .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-reset.scss */
picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 5, src/scss/_shared/_common.scss */
.c-text {
  width: 100%;
  max-width: 804px;
  margin-left: auto;
  margin-right: auto;
  color: #939393;
  line-height: 1.6;
  text-align: center;
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  /* line 5, src/scss/_shared/_common.scss */
  .c-text {
    font-size: calc(16px + 2 * (100vw - 320px) / 1120);
  }
}

@media screen and (min-width: 1440px) {
  /* line 5, src/scss/_shared/_common.scss */
  .c-text {
    font-size: 18px;
  }
}

/* line 20, src/scss/_shared/_common.scss */
.address__row {
  color: #8F8F8F;
}

@media screen and (max-width: 575px) {
  /* line 23, src/scss/_shared/_common.scss */
  .address__row p {
    text-align: center;
  }
}

/* line 30, src/scss/_shared/_common.scss */
.address__row-0 p {
  min-height: 40px;
  padding-bottom: 15px;
}

/* line 36, src/scss/_shared/_common.scss */
.address__row-1 {
  padding-bottom: 40px;
}

@media screen and (max-width: 575px) {
  /* line 36, src/scss/_shared/_common.scss */
  .address__row-1 {
    padding-bottom: 27px;
  }
}

/* line 43, src/scss/_shared/_common.scss */
.address__row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 575px) {
  /* line 43, src/scss/_shared/_common.scss */
  .address__row-2 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* line 50, src/scss/_shared/_common.scss */
.address__row-2 a {
  color: #8F8F8F;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 54, src/scss/_shared/_common.scss */
.address__row-2 a:hover {
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 59, src/scss/_shared/_common.scss */
.address__row-2 a:first-of-type {
  padding-bottom: 10px;
  color: #fff;
}

/* line 63, src/scss/_shared/_common.scss */
.address__row-2 a:first-of-type:hover {
  color: #8F8F8F;
}

/* line 76, src/scss/_shared/_common.scss */
.copyright__text {
  color: #8F8F8F;
  font-size: 16px;
}

/* line 3, src/scss/_shared/_iconSVG.scss */
.icon-svg {
  display: inline-block;
  fill: currentColor;
}

/* line 4, src/scss/_macros/_logotype.scss */
.logo--footer {
  padding-bottom: 25px;
}

/* line 8, src/scss/_macros/_logotype.scss */
.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 575px) {
  /* line 8, src/scss/_macros/_logotype.scss */
  .logo__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* line 15, src/scss/_macros/_logotype.scss */
.logo__link:hover svg {
  fill: #cd084b;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

/* line 21, src/scss/_macros/_logotype.scss */
.logo__link svg {
  fill: #fff;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

/* line 5, src/scss/_macros/_nav.scss */
.nav--footer .nav__list {
  padding-bottom: 55px;
}

@media screen and (max-width: 575px) {
  /* line 5, src/scss/_macros/_nav.scss */
  .nav--footer .nav__list {
    padding-bottom: 27px;
  }
}

/* line 12, src/scss/_macros/_nav.scss */
.nav--footer .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  color: #8F8F8F;
}

@media screen and (max-width: 575px) {
  /* line 12, src/scss/_macros/_nav.scss */
  .nav--footer .nav__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* line 21, src/scss/_macros/_nav.scss */
.nav--footer .nav__link:hover {
  color: #fff;
}

/* line 31, src/scss/_macros/_nav.scss */
.nav__link {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 34, src/scss/_macros/_nav.scss */
.nav__link:hover {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/* line 9, src/scss/_macros/_title.scss */
.c-title--features {
  padding-bottom: 60px;
}

/* line 12, src/scss/_macros/_title.scss */
.c-title--request {
  padding-bottom: 50px;
}

/* line 15, src/scss/_macros/_title.scss */
.c-title--request h1 {
  color: #fff;
}

/* line 19, src/scss/_macros/_title.scss */
.c-title--cloud {
  padding-bottom: 20px;
}

/* line 22, src/scss/_macros/_title.scss */
.c-title--analytics {
  padding-bottom: 20px;
}

/* line 25, src/scss/_macros/_title.scss */
.c-title--papelines {
  padding-bottom: 20px;
}

/* line 28, src/scss/_macros/_title.scss */
.c-title--ai {
  padding-bottom: 42px;
}

/* line 32, src/scss/_macros/_title.scss */
.c-title__text {
  text-align: center;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Muli", sans-serif;
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  /* line 32, src/scss/_macros/_title.scss */
  .c-title__text {
    font-size: calc(25px + 15 * (100vw - 320px) / 1280);
  }
}

@media screen and (min-width: 1600px) {
  /* line 32, src/scss/_macros/_title.scss */
  .c-title__text {
    font-size: 40px;
  }
}

/* line 43, src/scss/_macros/_title.scss */
.c-title__icon-wrap {
  padding-bottom: 22px;
}

/* line 46, src/scss/_macros/_title.scss */
.c-title__icon-wrap svg {
  fill: #cd084b;
}

/* line 50, src/scss/_macros/_title.scss */
.c-title__icon-wrap .icon-request {
  fill: rgba(255, 255, 255, 0.4);
}

/* line 3, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 291px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid #cd084b;
  background-color: transparent;
  color: #cd084b;
  text-transform: uppercase;
  letter-spacing: 1.35px;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 22, src/scss/_macros/_btn.scss */
.c-btn:hover {
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 26, src/scss/_macros/_btn.scss */
.c-btn--features {
  margin-left: auto;
  margin-right: auto;
}

/* line 32, src/scss/_macros/_btn.scss */
.c-btn--border:hover {
  background-color: #cd084b;
  color: #fff;
}

/* line 38, src/scss/_macros/_btn.scss */
.c-btn--bg {
  background-color: #cd084b;
  color: #fff;
}

/* line 42, src/scss/_macros/_btn.scss */
.c-btn--bg:hover {
  background-color: transparent;
}

/* line 3, src/scss/_macros/_form.scss */
.c-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 9, src/scss/_macros/_form.scss */
.c-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 12, src/scss/_macros/_form.scss */
.c-form__row--request {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 991px) {
  /* line 12, src/scss/_macros/_form.scss */
  .c-form__row--request {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  /* line 12, src/scss/_macros/_form.scss */
  .c-form__row--request {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* line 23, src/scss/_macros/_form.scss */
.c-form__row--request .c-form__row-left {
  padding-right: 20px;
}

@media screen and (max-width: 991px) {
  /* line 23, src/scss/_macros/_form.scss */
  .c-form__row--request .c-form__row-left {
    padding-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  /* line 23, src/scss/_macros/_form.scss */
  .c-form__row--request .c-form__row-left {
    padding-right: 0;
  }
}

/* line 32, src/scss/_macros/_form.scss */
.c-form__row--request .c-form__row-right {
  padding-left: 20px;
}

@media screen and (max-width: 991px) {
  /* line 32, src/scss/_macros/_form.scss */
  .c-form__row--request .c-form__row-right {
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  /* line 32, src/scss/_macros/_form.scss */
  .c-form__row--request .c-form__row-right {
    padding-left: 0;
  }
}

/* line 43, src/scss/_macros/_form.scss */
.c-form__row-left, .c-form__row-right {
  width: 50%;
}

@media screen and (max-width: 767px) {
  /* line 43, src/scss/_macros/_form.scss */
  .c-form__row-left, .c-form__row-right {
    width: 100%;
  }
}

/* line 52, src/scss/_macros/_form.scss */
.c-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 575px) {
  /* line 57, src/scss/_macros/_form.scss */
  .c-form__group--request {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* line 62, src/scss/_macros/_form.scss */
.c-form__group--request .c-form__group-col {
  width: 50%;
}

@media screen and (max-width: 575px) {
  /* line 62, src/scss/_macros/_form.scss */
  .c-form__group--request .c-form__group-col {
    width: 100%;
  }
}

/* line 68, src/scss/_macros/_form.scss */
.c-form__group--request .c-form__group-col-0 {
  padding-right: 10px;
}

@media screen and (max-width: 575px) {
  /* line 68, src/scss/_macros/_form.scss */
  .c-form__group--request .c-form__group-col-0 {
    padding-right: 0;
  }
}

/* line 75, src/scss/_macros/_form.scss */
.c-form__group--request .c-form__group-col-1 {
  padding-left: 10px;
}

@media screen and (max-width: 575px) {
  /* line 75, src/scss/_macros/_form.scss */
  .c-form__group--request .c-form__group-col-1 {
    padding-left: 0;
  }
}

/* line 90, src/scss/_macros/_form.scss */
.c-form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

/* line 101, src/scss/_macros/_form.scss */
.c-form__field--btn {
  width: 100%;
  padding-top: 30px;
}

/* line 107, src/scss/_macros/_form.scss */
.c-form__label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
  margin-bottom: 6px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

/* line 119, src/scss/_macros/_form.scss */
.c-form__input-wrapper, .c-form__textarea-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 125, src/scss/_macros/_form.scss */
.c-form__input, .c-form__textarea {
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 135, src/scss/_macros/_form.scss */
.c-form__input {
  padding: 0 20px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 10px;
  color: #000;
  font-size: 18px;
}

/* line 143, src/scss/_macros/_form.scss */
.c-form__input-wrapper {
  min-height: 60px;
}

/* line 148, src/scss/_macros/_form.scss */
.c-form__select {
  position: relative;
  height: 100%;
  min-height: 60px;
  border-radius: 10px;
  background-color: #fff;
}

/* line 155, src/scss/_macros/_form.scss */
.c-form__select select {
  opacity: 0;
  cursor: pointer;
  outline: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* line 169, src/scss/_macros/_form.scss */
.c-form__select-value {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 60px;
  width: calc(100% - 52px);
  padding-left: 20px;
  color: #000;
  font-size: 18px;
}

/* line 185, src/scss/_macros/_form.scss */
.c-form__select-icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  width: 52px;
  height: 100%;
}

/* line 195, src/scss/_macros/_form.scss */
.c-form__select-icon svg {
  width: 12px;
}

/* line 209, src/scss/_macros/_form.scss */
.c-form__notify {
  display: none;
}

/* line 213, src/scss/_macros/_form.scss */
.c-form__btn {
  max-width: 256px;
  margin-left: auto;
  margin-right: auto;
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  background-color: #191919;
}

/* line 6, src/scss/_components/_footer.scss */
.footer__wrapper {
  padding-top: 75px;
  padding-bottom: 107px;
}

@media screen and (max-width: 575px) {
  /* line 6, src/scss/_components/_footer.scss */
  .footer__wrapper {
    padding-top: 37px;
    padding-bottom: 53px;
  }
}

/* line 15, src/scss/_components/_footer.scss */
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 767px) {
  /* line 19, src/scss/_components/_footer.scss */
  .footer__row-0 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* line 25, src/scss/_components/_footer.scss */
.footer__row-1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 24px;
}

/* line 32, src/scss/_components/_footer.scss */
.footer__col-0 {
  width: 326px;
}

@media screen and (max-width: 991px) {
  /* line 32, src/scss/_components/_footer.scss */
  .footer__col-0 {
    width: 236px;
  }
}

@media screen and (max-width: 575px) {
  /* line 32, src/scss/_components/_footer.scss */
  .footer__col-0 {
    padding-bottom: 27px;
  }
}

/* line 42, src/scss/_components/_footer.scss */
.footer__col-1, .footer__col-2 {
  width: 100%;
  max-width: calc((100% - (326px + 126px)) / 2);
  padding-right: 15px;
}

@media screen and (max-width: 991px) {
  /* line 42, src/scss/_components/_footer.scss */
  .footer__col-1, .footer__col-2 {
    max-width: calc((100% - (236px + 126px)) / 2);
  }
}

/* line 52, src/scss/_components/_footer.scss */
.footer__col-3 {
  width: 126px;
}

@media screen and (max-width: 767px) {
  /* line 56, src/scss/_components/_footer.scss */
  .footer__col-0, .footer__col-1, .footer__col-2, .footer__col-3 {
    width: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 575px) {
  /* line 56, src/scss/_components/_footer.scss */
  .footer__col-0, .footer__col-1, .footer__col-2, .footer__col-3 {
    width: 100%;
    max-width: 100%;
  }
}

/* line 71, src/scss/_components/_footer.scss */
.footer__title {
  min-height: 30px;
  padding-bottom: 28px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 575px) {
  /* line 71, src/scss/_components/_footer.scss */
  .footer__title {
    text-align: center;
  }
}

/* line 3, src/scss/_components/homepage/_ai.scss */
.ai {
  border-bottom: 1px solid #D8D8D8;
}

/* line 6, src/scss/_components/homepage/_ai.scss */
.ai__wrapper {
  padding-top: 68px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  /* line 6, src/scss/_components/homepage/_ai.scss */
  .ai__wrapper {
    padding-top: 34px;
    padding-bottom: 30px;
  }
}

/* line 3, src/scss/_components/homepage/_leads.scss */
.leads {
  border-bottom: 1px solid #D8D8D8;
}

/* line 6, src/scss/_components/homepage/_leads.scss */
.leads__wrapper {
  padding-top: 99px;
  padding-bottom: 37px;
}

@media screen and (max-width: 767px) {
  /* line 6, src/scss/_components/homepage/_leads.scss */
  .leads__wrapper {
    padding-top: 50px;
    padding-bottom: 18px;
  }
}

/* line 4, src/scss/_components/homepage/_pipelines.scss */
.pipelines__wrapper {
  padding-top: 100px;
  padding-bottom: 118px;
}

@media screen and (max-width: 767px) {
  /* line 4, src/scss/_components/homepage/_pipelines.scss */
  .pipelines__wrapper {
    padding-top: 50px;
    padding-bottom: 59px;
  }
}

/* line 3, src/scss/_components/homepage/_analytics.scss */
.analytics {
  overflow: hidden;
  background-color: #F8FAFC;
}

/* line 7, src/scss/_components/homepage/_analytics.scss */
.analytics__wrapper {
  padding-top: 98px;
  padding-bottom: 100px;
}

@media screen and (max-width: 767px) {
  /* line 7, src/scss/_components/homepage/_analytics.scss */
  .analytics__wrapper {
    padding-top: 49px;
    padding-bottom: 50px;
  }
}

/* line 16, src/scss/_components/homepage/_analytics.scss */
.analytics__text {
  padding-bottom: 60px;
}

@media screen and (max-width: 575px) {
  /* line 16, src/scss/_components/homepage/_analytics.scss */
  .analytics__text {
    padding-bottom: 30px;
  }
}

/* line 23, src/scss/_components/homepage/_analytics.scss */
.analytics__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 991px) {
  /* line 23, src/scss/_components/homepage/_analytics.scss */
  .analytics__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 33, src/scss/_components/homepage/_analytics.scss */
.analytics__row-left, .analytics__row-right {
  width: 50%;
}

@media screen and (max-width: 991px) {
  /* line 33, src/scss/_components/homepage/_analytics.scss */
  .analytics__row-left, .analytics__row-right {
    width: 100%;
  }
}

/* line 41, src/scss/_components/homepage/_analytics.scss */
.analytics__row-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 991px) {
  /* line 41, src/scss/_components/homepage/_analytics.scss */
  .analytics__row-right {
    margin-top: 30px;
  }
}

/* line 50, src/scss/_components/homepage/_analytics.scss */
.analytics__card {
  width: 100%;
  max-width: 430px;
}

/* line 56, src/scss/_components/homepage/_analytics.scss */
.analytics__card-0 .analytics__card-box {
  padding: 30px 30px 30px 60px;
}

/* line 59, src/scss/_components/homepage/_analytics.scss */
.analytics__card-0 .analytics__card-box--inner {
  left: 0;
}

/* line 62, src/scss/_components/homepage/_analytics.scss */
.analytics__card-0 .analytics__card-box--outer {
  left: 30px;
}

/* line 66, src/scss/_components/homepage/_analytics.scss */
.analytics__card-0 .analytics__card-circle {
  left: 44px;
}

/* line 74, src/scss/_components/homepage/_analytics.scss */
.analytics__card-1 .analytics__card-box {
  padding: 30px 60px 30px 30px;
}

/* line 77, src/scss/_components/homepage/_analytics.scss */
.analytics__card-1 .analytics__card-box--inner {
  right: 0;
}

/* line 80, src/scss/_components/homepage/_analytics.scss */
.analytics__card-1 .analytics__card-box--outer {
  right: 30px;
}

/* line 84, src/scss/_components/homepage/_analytics.scss */
.analytics__card-1 .analytics__card-circle {
  left: 15px;
}

/* line 87, src/scss/_components/homepage/_analytics.scss */
.analytics__card-1 .analytics__card-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 93, src/scss/_components/homepage/_analytics.scss */
.analytics__card-box {
  position: relative;
  width: 100%;
  height: 280px;
  margin-bottom: 35px;
}

/* line 99, src/scss/_components/homepage/_analytics.scss */
.analytics__card-box--inner {
  z-index: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  max-width: 410px;
  height: 240px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

/* line 112, src/scss/_components/homepage/_analytics.scss */
.analytics__card-box--outer {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 400px;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

/* line 125, src/scss/_components/homepage/_analytics.scss */
.analytics__card-circle {
  z-index: 1;
  position: absolute;
  bottom: -35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00439B;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 10px solid #F8F8F8;
}

/* line 138, src/scss/_components/homepage/_analytics.scss */
.analytics__card-circle svg {
  fill: #fff;
}

/* line 143, src/scss/_components/homepage/_analytics.scss */
.analytics__card-wrapper {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 149, src/scss/_components/homepage/_analytics.scss */
.analytics__card-left {
  width: 110px;
}

/* line 152, src/scss/_components/homepage/_analytics.scss */
.analytics__card-left > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #E9E9E9;
}

/* line 161, src/scss/_components/homepage/_analytics.scss */
.analytics__card-left > div svg {
  fill: #CD084B;
}

/* line 167, src/scss/_components/homepage/_analytics.scss */
.analytics__card-right {
  width: 100%;
  max-width: calc(100% - 110px);
  padding-top: 18px;
}

/* line 173, src/scss/_components/homepage/_analytics.scss */
.analytics__card-line {
  border-radius: 4px;
  background-color: #E9E9E9;
}

/* line 177, src/scss/_components/homepage/_analytics.scss */
.analytics__card-line-0 {
  height: 20px;
  margin-bottom: 14px;
}

/* line 181, src/scss/_components/homepage/_analytics.scss */
.analytics__card-line-1 {
  width: 50%;
  height: 20px;
  margin-bottom: 47px;
}

/* line 186, src/scss/_components/homepage/_analytics.scss */
.analytics__card-line-2 {
  width: 100%;
  max-width: 122px;
  height: 12px;
}

/* line 191, src/scss/_components/homepage/_analytics.scss */
.analytics__card-line-3 {
  width: 100%;
  max-width: 154px;
  height: 12px;
}

/* line 196, src/scss/_components/homepage/_analytics.scss */
.analytics__card-line-4 {
  height: 20px;
  margin-bottom: 14px;
}

/* line 200, src/scss/_components/homepage/_analytics.scss */
.analytics__card-line-5 {
  width: 100%;
  max-width: 260px;
  height: 12px;
}

/* line 208, src/scss/_components/homepage/_analytics.scss */
.analytics__card-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 14px;
}

/* line 213, src/scss/_components/homepage/_analytics.scss */
.analytics__card-list li:last-child {
  padding-bottom: 0;
}

/* line 218, src/scss/_components/homepage/_analytics.scss */
.analytics__card-list li > div:first-child {
  width: 50px;
}

/* line 221, src/scss/_components/homepage/_analytics.scss */
.analytics__card-list li > div:first-child span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #CD084B;
}

/* line 230, src/scss/_components/homepage/_analytics.scss */
.analytics__card-list li > div:first-child span svg {
  width: 16px;
  fill: #fff;
}

/* line 236, src/scss/_components/homepage/_analytics.scss */
.analytics__card-list li > div:last-child {
  width: 100%;
  max-width: calc(100% - 50px);
}

/* line 244, src/scss/_components/homepage/_analytics.scss */
.analytics__card-graph {
  margin-bottom: 23px;
}

/* line 247, src/scss/_components/homepage/_analytics.scss */
.analytics__card-graph img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 256, src/scss/_components/homepage/_analytics.scss */
.analytics__card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  /* line 256, src/scss/_components/homepage/_analytics.scss */
  .analytics__card-title {
    font-size: calc(18px + 6 * (100vw - 320px) / 1120);
  }
}

@media screen and (min-width: 1440px) {
  /* line 256, src/scss/_components/homepage/_analytics.scss */
  .analytics__card-title {
    font-size: 24px;
  }
}

/* line 3, src/scss/_components/homepage/_cloud.scss */
.cloud {
  position: relative;
  border-bottom: 1px solid #D8D8D8;
}

/* line 7, src/scss/_components/homepage/_cloud.scss */
.cloud__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 15, src/scss/_components/homepage/_cloud.scss */
.cloud__bg-img {
  position: absolute;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 575px) {
  /* line 15, src/scss/_components/homepage/_cloud.scss */
  .cloud__bg-img {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
}

/* line 23, src/scss/_components/homepage/_cloud.scss */
.cloud__bg-img-0 {
  top: 52px;
  left: 473px;
}

@media screen and (max-width: 575px) {
  /* line 23, src/scss/_components/homepage/_cloud.scss */
  .cloud__bg-img-0 {
    left: 20%;
  }
}

/* line 30, src/scss/_components/homepage/_cloud.scss */
.cloud__bg-img-1 {
  left: -96px;
  bottom: 77px;
}

/* line 34, src/scss/_components/homepage/_cloud.scss */
.cloud__bg-img-2 {
  left: 72px;
  bottom: 97px;
  mix-blend-mode: multiply;
}

/* line 39, src/scss/_components/homepage/_cloud.scss */
.cloud__bg-img-3 {
  right: 329px;
  bottom: -36px;
}

@media screen and (max-width: 575px) {
  /* line 39, src/scss/_components/homepage/_cloud.scss */
  .cloud__bg-img-3 {
    right: 20%;
  }
}

/* line 46, src/scss/_components/homepage/_cloud.scss */
.cloud__bg-img-4 {
  bottom: 213px;
  right: -96px;
}

/* line 50, src/scss/_components/homepage/_cloud.scss */
.cloud__bg-img-5 {
  right: -40px;
  bottom: 190px;
  mix-blend-mode: multiply;
}

/* line 58, src/scss/_components/homepage/_cloud.scss */
.cloud__wrapper {
  z-index: 1;
  position: relative;
  padding-top: 98px;
  padding-bottom: 100px;
}

@media screen and (max-width: 767px) {
  /* line 58, src/scss/_components/homepage/_cloud.scss */
  .cloud__wrapper {
    padding-top: 49px;
    padding-bottom: 50px;
  }
}

/* line 4, src/scss/_components/homepage/_features.scss */
.features__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 767px) {
  /* line 4, src/scss/_components/homepage/_features.scss */
  .features__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* line 14, src/scss/_components/homepage/_features.scss */
.features__row-0 {
  padding-bottom: 60px;
}

/* line 21, src/scss/_components/homepage/_features.scss */
.features__box {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 180px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  /* line 21, src/scss/_components/homepage/_features.scss */
  .features__box {
    width: calc(50% - 10px);
    margin-bottom: 19px;
  }
}

/* line 35, src/scss/_components/homepage/_features.scss */
.features__box:hover .features__box-circle {
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 39, src/scss/_components/homepage/_features.scss */
.features__box:hover .features__box-circle svg {
  fill: #D01756;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

/* line 46, src/scss/_components/homepage/_features.scss */
.features__box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 767px) {
  /* line 46, src/scss/_components/homepage/_features.scss */
  .features__box-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* line 54, src/scss/_components/homepage/_features.scss */
.features__box-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  border: 2px solid #D01756;
  background-color: #D01756;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 67, src/scss/_components/homepage/_features.scss */
.features__box-circle svg {
  fill: #fff;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

/* line 73, src/scss/_components/homepage/_features.scss */
.features__box-text {
  padding-top: 19px;
  font-size: 20px;
  font-weight: 600;
}

/* line 3, src/scss/_components/homepage/_request.scss */
.request {
  overflow: hidden;
  position: relative;
}

/* line 7, src/scss/_components/homepage/_request.scss */
.request:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  mix-blend-mode: soft-light;
  background-image: url("../img/img-bg-request.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 25, src/scss/_components/homepage/_request.scss */
.request__bg {
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw + 300px);
  margin-left: -150px;
  height: 100%;
  border-radius: 50%/100px 100px 0 0;
}

/* line 36, src/scss/_components/homepage/_request.scss */
.request__bg-inner {
  width: 100%;
  height: 100%;
  background: #00449D;
  background: -webkit-gradient(linear, left top, right top, from(#00449D), to(#001632));
  background: -webkit-linear-gradient(left, #00449D, #001632);
  background: -o-linear-gradient(left, #00449D, #001632);
  background: linear-gradient(to right, #00449D, #001632);
}

/* line 43, src/scss/_components/homepage/_request.scss */
.request__wrapper {
  z-index: 1;
  position: relative;
  padding-top: 102px;
  padding-bottom: 99px;
}

@media screen and (max-width: 767px) {
  /* line 43, src/scss/_components/homepage/_request.scss */
  .request__wrapper {
    padding-top: 51px;
    padding-bottom: 50px;
  }
}

/*# sourceMappingURL=maps/app.css.map */
